.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 40px 25px;
    border-radius: 10px;

    background: #fff;
    filter: brightness(0.95);

    transition: filter, box-shadow 0.2s;
}

.card:hover{
    filter: brightness(1);

    -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.20); 
    box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.20);
}

.card h3{
    font-size: 34px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.card h3::before{
    content: '';
    width: 20px;
    height: 2px;
    background-color: var(--gray);
    margin-right: 10px;
}

.card h3::after{
    content: '';
    width: 20px;
    height: 2px;
    background-color: var(--gray);
    margin-left: 10px;
}