:root{
   --gray:#555555;
   --blue: #427DC1;
   --green: #5B8C39; 
   --orange: #ED8236; 
   --red: #CD2500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.App{
    display: flex;
}

h1, h2, h3, h4, h5{
    font-weight: 400;
    color: var(--gray);
}

.logo{
    display: flex;
    align-items: center;
    max-height: 50px;
}

.logo > img{
    max-width: 35px;
    width: 100%;
    margin-right: 10px;
}

.logo > span{
    font-size: 32px;
    font-weight: 500;
    color: var(--gray);
}

.logo > span > strong{
    color: var(--green);
}

.saida{
    color: var(--red);
}

.entrada{
    color: var(--green);
}

